In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
Items = pd.read_csv('Items.csv')
customers = pd.read_csv('customers.csv')
order_item = pd.read_csv('order_item.csv')
orders = pd.read_csv('orders.csv')

In [7]:
dup_counts = Items.groupby('item_name')['id'].count()
dup_counts[dup_counts > 1]

item_name
Camera         3
Desktop        2
Drone          3
Headphone      2
Laptop         2
Printer        2
Smart Watch    2
Smartphone     2
Speaker        2
Tablet         2
Television     3
Name: id, dtype: int64

In [13]:
dup = Items[Items['item_name'].duplicated(keep=False)].copy()
dup

,id,item_name,item_category,item_price,stock_quantity,item_brand,item_availability
4,7,Camera,Photography Equipment,2366.72,458.0,Microsoft,True
5,48,Camera,Photography Equipment,2039.08,471.0,Panasonic,True
6,28,Camera,NaN,695.71,NaN,Sony,False
9,3,Desktop,Computers and Accessories,1121.84,334.0,HP,True
10,44,Desktop,Computers and Accessories,723.59,1119.0,JBL,True
11,24,Drone,Televisions and Displays,4449.99,443.0,Samsung,True
12,16,Drone,NaN,3949.97,850.0,NaN,True
13,10,Drone,Televisions and Displays,453.85,605.0,NaN,True
18,8,Headphone,NaN,3117.19,599.0,NaN,True
19,49,Headphone,Audio Equipment,1317.56,NaN,Sony,False
21,2,Laptop,Computers and Accessories,1851.32,493.0,HP,True
22,43,Laptop,Computers and Accessories,4153.61,1018.0,Dell,True
29,6,Printer,Printers and Office Equipment,4175.99,971.0,Sony,True
30,47,Printer,Printers and Office Equipment,3704.16,239.0,Toshiba,True
31,17,Smart Watch,Televisions and Displays,312.88,685.0,Canon,True
32,14,Smart Watch,NaN,2007.43,742.0,NaN,True
33,4,Smartphone,Mobile Devices and Accessories,965.20,201.0,Bose,True
34,45,Smartphone,Mobile Devices and Accessories,3513.56,1162.0,Panasonic,True
35,9,Speaker,NaN,4471.27,1360.0,NaN,True
36,50,Speaker,Audio Equipment,4453.90,937.0,Logitech,True
38,5,Tablet,NaN,2739.61,190.0,Toshiba,True
39,46,Tablet,Mobile Devices and Accessories,1606.65,267.0,HP,True
40,1,Television,Televisions and Displays,356.81,1009.0,JBL,True
41,42,Television,NaN,479.19,670.0,NaN,True
42,40,Television,Televisions and Displays,2055.66,1072.0,NaN,True

In [19]:
dup['non_nan_count'] = dup.notna().sum(axis=1)
dup.sort_values(['item_name', 'non_nan_count'], ascending=[True, False], inplace=True)
dup

,id,item_name,item_category,item_price,stock_quantity,item_brand,item_availability,non_nan_count
4,7,Camera,Photography Equipment,2366.72,458.0,Microsoft,True,8
5,48,Camera,Photography Equipment,2039.08,471.0,Panasonic,True,8
6,28,Camera,NaN,695.71,NaN,Sony,False,6
9,3,Desktop,Computers and Accessories,1121.84,334.0,HP,True,8
10,44,Desktop,Computers and Accessories,723.59,1119.0,JBL,True,8
11,24,Drone,Televisions and Displays,4449.99,443.0,Samsung,True,8
13,10,Drone,Televisions and Displays,453.85,605.0,NaN,True,7
12,16,Drone,NaN,3949.97,850.0,NaN,True,6
19,49,Headphone,Audio Equipment,1317.56,NaN,Sony,False,7
18,8,Headphone,NaN,3117.19,599.0,NaN,True,6
21,2,Laptop,Computers and Accessories,1851.32,493.0,HP,True,8
22,43,Laptop,Computers and Accessories,4153.61,1018.0,Dell,True,8
29,6,Printer,Printers and Office Equipment,4175.99,971.0,Sony,True,8
30,47,Printer,Printers and Office Equipment,3704.16,239.0,Toshiba,True,8
31,17,Smart Watch,Televisions and Displays,312.88,685.0,Canon,True,8
32,14,Smart Watch,NaN,2007.43,742.0,NaN,True,6
33,4,Smartphone,Mobile Devices and Accessories,965.20,201.0,Bose,True,8
34,45,Smartphone,Mobile Devices and Accessories,3513.56,1162.0,Panasonic,True,8
36,50,Speaker,Audio Equipment,4453.90,937.0,Logitech,True,8
35,9,Speaker,NaN,4471.27,1360.0,NaN,True,6
39,46,Tablet,Mobile Devices and Accessories,1606.65,267.0,HP,True,8
38,5,Tablet,NaN,2739.61,190.0,Toshiba,True,7
40,1,Television,Televisions and Displays,356.81,1009.0,JBL,True,8
42,40,Television,Televisions and Displays,2055.66,1072.0,NaN,True,7
41,42,Television,NaN,479.19,670.0,NaN,True,6

In [27]:
kept = dup.drop_duplicates(subset=['item_name'], keep='first')
removed = dup[~dup['id'].isin(kept['id'])] 
removed

,id,item_name,item_category,item_price,stock_quantity,item_brand,item_availability,non_nan_count
5,48,Camera,Photography Equipment,2039.08,471.0,Panasonic,True,8
6,28,Camera,NaN,695.71,NaN,Sony,False,6
10,44,Desktop,Computers and Accessories,723.59,1119.0,JBL,True,8
13,10,Drone,Televisions and Displays,453.85,605.0,NaN,True,7
12,16,Drone,NaN,3949.97,850.0,NaN,True,6
18,8,Headphone,NaN,3117.19,599.0,NaN,True,6
22,43,Laptop,Computers and Accessories,4153.61,1018.0,Dell,True,8
30,47,Printer,Printers and Office Equipment,3704.16,239.0,Toshiba,True,8
32,14,Smart Watch,NaN,2007.43,742.0,NaN,True,6
34,45,Smartphone,Mobile Devices and Accessories,3513.56,1162.0,Panasonic,True,8
35,9,Speaker,NaN,4471.27,1360.0,NaN,True,6
38,5,Tablet,NaN,2739.61,190.0,Toshiba,True,7
42,40,Television,Televisions and Displays,2055.66,1072.0,NaN,True,7
41,42,Television,NaN,479.19,670.0,NaN,True,6

In [31]:
items_clean = Items[~Items['id'].isin(removed['id'])]
items_clean

,id,item_name,item_category,item_price,stock_quantity,item_brand,item_availability
0,26,Action Camera,Photography Equipment,2694.25,NaN,Bose,False
1,37,Antivirus Software,Software,4186.62,NaN,NaN,False
2,11,Blu-Ray Player,Video Players and Recorders,3382.86,704.0,ASUS,True
3,25,Camcorder,Photography Equipment,860.01,870.0,Bose,True
4,7,Camera,Photography Equipment,2366.72,458.0,Microsoft,True
7,18,Computer Monitor,Computers and Accessories,4076.35,1205.0,Bose,True
8,27,Dash Camera,Photography Equipment,1283.99,550.0,Lenovo,True
9,3,Desktop,Computers and Accessories,1121.84,334.0,HP,True
11,24,Drone,Televisions and Displays,4449.99,443.0,Samsung,True
14,21,External Hard Drive,Computers and Accessories,1251.36,1013.0,Microsoft,True
15,15,Fitness Tracker,Mobile Devices and Accessories,2997.29,956.0,Apple,True
16,30,Gaming Chair,Gaming Equipment,417.16,704.0,Samsung,True
17,34,HDMI Cable,Cables,1710.84,869.0,JBL,True
19,49,Headphone,Audio Equipment,1317.56,NaN,Sony,False
20,19,Keyboard,Computers and Accessories,604.18,NaN,Panasonic,False
21,2,Laptop,Computers and Accessories,1851.32,493.0,HP,True
23,23,Micro SD Card,Storage Devices,3238.23,663.0,Sony,True
24,36,Modem,NaN,3256.88,673.0,Bose,True
25,20,Mouse,Computers and Accessories,1333.04,881.0,Logitech,True
26,38,Office Software,Printers and Office Equipment,3454.82,643.0,JBL,True
27,32,Portable Charger,Mobile Devices and Accessories,1523.27,192.0,HP,True
28,39,Power Strip,Printers and Office Equipment,3344.90,1211.0,HP,True
29,6,Printer,Printers and Office Equipment,4175.99,971.0,Sony,True
31,17,Smart Watch,Televisions and Displays,312.88,685.0,Canon,True
33,4,Smartphone,Mobile Devices and Accessories,965.20,201.0,Bose,True
36,50,Speaker,Audio Equipment,4453.90,937.0,Logitech,True
37,33,Surge Protector,Printers and Office Equipment,488.39,800.0,ASUS,True
39,46,Tablet,Mobile Devices and Accessories,1606.65,267.0,HP,True
40,1,Television,Televisions and Displays,356.81,1009.0,JBL,True
43,22,USB Flash Drive,NaN,1150.87,1251.0,Panasonic,True
44,13,Video Game,NaN,1890.03,681.0,Lenovo,True
45,12,Video Game Console,Gaming Equipment,689.61,753.0,Microsoft,True
46,41,VR Headset,NaN,1905.01,1367.0,JBL,True
47,29,Webcam,Printers and Office Equipment,4227.36,596.0,Dell,True
48,35,Wi-Fi Router,Network Equipment,3812.53,14.0,Microsoft,True
49,31,Wireless Charger,Mobile Devices and Accessories,241.54,951.0,Lenovo,True

In [35]:
dup_counts = items_clean.groupby('item_name')['id'].count()
dup_counts[dup_counts > 1]

Series([], Name: id, dtype: int64)

In [37]:
items_clean['item_name'].duplicated().sum()

0

In [47]:
removed_items = Items[~Items['id'].isin(items_clean['id'])]
merged = removed_items.merge(items_clean, on='item_name', suffixes=('_removed', '_kept'))
item_map = dict(zip(merged['id_removed'], merged['id_kept']))
order_item['item_id'] = order_item['item_id'].replace(item_map)

In [59]:
order_counts = orders['customer_id'].value_counts()

customers_to_keep = order_counts[order_counts >= 3].index

customers_clean = customers[customers['id'].isin(customers_to_keep)]

orders_clean = orders[orders['customer_id'].isin(customers_clean['id'])]

order_item_clean = order_item[order_item['order_id'].isin(orders_clean['order_id'])]
order_item_clean

       id  order_id  item_id  quantity
0       1       337     24.0         2
6       7       547      1.0         3
7       8       547     24.0         3
8       9       383     29.0         1
9      10       182     49.0         2
..    ...       ...      ...       ...
988   989       543     35.0         2
992   993       578     19.0         1
994   995       483     35.0         4
997   998       472     24.0         3
999  1000       337     24.0         1

[352 rows x 4 columns]